<nb-card>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Formatos 1" tabIcon="clipboard-outline" responsive>
                <p>Lista de <strong>delegados</strong>.</p>
            </nb-tab>

            <nb-tab tabTitle="Nuevo Formato 1" tabIcon="file-add-outline" responsive>
                <nb-card>
                    <nb-card-header>RESGISTRO</nb-card-header>
                    <nb-card-body class="example-items-rows">
                        <input type="text" nbInput placeholder="Codigo del Curso">
                        <input type="text" nbInput placeholder="Nombre del Curso">
                        <input type="number" nbInput placeholder="Grupo o Sección">
                        <input type="text" nbInput placeholder="Docente">
                    </nb-card-body>
                </nb-card>
                <nb-card>
                    <nb-card-body class="example-items-rows">
                      <input type="text" nbInput placeholder="Text field">
                      <input type="text" nbInput placeholder="Disabled Text field" disabled>
                    </nb-card-body>
                  </nb-card>
            </nb-tab>
        </nb-tabset>

    </nb-card-body>
</nb-card>